**Observable Trends**
* An overwhelming majority of players are male - about 84%
* About 84% of purchases were made by males
* 47% of puchases were made by players aged 20 to 24, which accounted for about 47% of total revenue
* The most a single player spent was 18.96
* The most popular item was purchased 12 times at 4.23 - this was also the most profitable item bringing in 50.76

In [ ]:
import pandas as pd
import numpy as np

In [205]:
file_path = "purchase_data.csv"
purchase_data = pd.read_csv(file_path)

In [127]:
print(purchase_data.describe())
print()
print(purchase_data.nunique())
print()
print(purchase_data.dtypes)

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

Purchase ID    780
SN             576
Age             39
Gender           3
Item ID        183
Item Name      179
Price          145
dtype: int64

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [128]:
total_players = purchase_data["SN"].nunique()

In [129]:
total_players_df = pd.DataFrame({"Total Players": total_players}, index=[""])
total_players_df

  Total Players
            576

In [130]:
unique_items = purchase_data["Item ID"].nunique()

In [131]:
average_item_price = round(purchase_data.Price.mean(), 2)

In [132]:
total_purchases = purchase_data["Item ID"].count()

In [133]:
total_revenue = purchase_data.Price.sum()

In [198]:
purchasing_analysis_dict = {"Unique Items": unique_items, "Avg Item Price": average_item_price, "Total Purchases": total_purchases, "Total Revenue": total_revenue}
purchasing_analysis_df = pd.DataFrame(purchasing_analysis_dict, index=[""])
purchasing_analysis_df["Avg Item Price"] = purchasing_analysis_df["Avg Item Price"].map('${:,.2f}'.format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map('${:,.2f}'.format)
purchasing_analysis_df

  Unique Items Avg Item Price  Total Purchases Total Revenue
           183          $3.05              780     $2,379.77

In [135]:
g_count_series = purchase_data.groupby("Gender")["SN"].nunique()

In [136]:
count_of_male_players = g_count_series.iloc[1]

In [137]:
count_of_female_players = g_count_series.iloc[0]

In [138]:
count_of_non_disclosed_players = g_count_series.iloc[2]

In [139]:
percentage_male_players = (count_of_male_players/total_players)*100

In [140]:
percentage_female_players = (count_of_female_players/total_players)*100

In [141]:
percentage_non_discolosed_players = (count_of_non_disclosed_players/total_players)*100

In [142]:
g_demographics_dict = {"Number of Players": [count_of_male_players, count_of_female_players, count_of_non_disclosed_players],
                      "Percentage of Players": [percentage_male_players, percentage_female_players, percentage_non_discolosed_players],
                      "Gender": ["Male", "Female", "Non-Disclosed"]}
g_demographics_df = pd.DataFrame(g_demographics_dict)
g_demographics_df["Percentage of Players"] = g_demographics_df["Percentage of Players"].map('{:,.2f}%'.format)
g_demographics_df.set_index("Gender")

               Number of Players Percentage of Players
Gender
Male                         484                84.03%
Female                        81                14.06%
Non-Disclosed                 11                 1.91%

In [143]:
gender_male_df = purchase_data.loc[(purchase_data["Gender"] == "Male")]

In [144]:
total_male_purchases = gender_male_df.Price.count()

In [145]:
average_price_per_purchase_males = round(gender_male_df.Price.mean(), 2)

In [146]:
total_purchases_males = gender_male_df.Price.sum()

In [147]:
average_purchase_total_per_male = round((total_purchases_males / count_of_male_players), 2)

In [148]:
gender_female_df = purchase_data.loc[(purchase_data.Gender == "Female")]

In [149]:
total_female_purchases = gender_female_df.Price.count()

In [150]:
average_price_per_purchase_females = round(gender_female_df.Price.mean(), 2)

In [151]:
total_purchases_females = gender_female_df.Price.sum()

In [152]:
average_purchase_total_per_female = round((total_purchases_females / count_of_female_players), 2)

In [153]:
gender_non_disclosed_df = purchase_data.loc[(purchase_data.Gender == "Other / Non-Disclosed")]

In [154]:
total_non_disclosed_purchases = gender_non_disclosed_df.Price.count()

In [155]:
average_price_per_purchase_non_disclosed = round(gender_non_disclosed_df.Price.mean(), 2)

In [156]:
total_purchases_non_disclosed = gender_non_disclosed_df.Price.sum()

In [157]:
average_purchase_total_per_non_disclosed = round((total_purchases_non_disclosed / count_of_non_disclosed_players), 2)

In [199]:
purchasing_analysis_g_dict = {"Gender": ["Male", "Female", "Non-Disclosed"],
                              "Purchase Count": [total_male_purchases, total_female_purchases, total_non_disclosed_purchases],
                             "Avg Price Per Purchase": [average_price_per_purchase_males, average_price_per_purchase_females, average_price_per_purchase_non_disclosed],
                             "Total Purchase Value": [total_purchases_males, total_purchases_females, total_purchases_non_disclosed],
                             "Avg Purchase Total": [average_purchase_total_per_male, average_purchase_total_per_female, average_purchase_total_per_non_disclosed]}
purchasing_analysis_g_df = pd.DataFrame(purchasing_analysis_g_dict)
purchasing_analysis_g_df["Avg Price Per Purchase"] = purchasing_analysis_g_df["Avg Price Per Purchase"].map('${:,.2f}'.format)
purchasing_analysis_g_df["Avg Purchase Total"] = purchasing_analysis_g_df["Avg Purchase Total"].map('${:,.2f}'.format)
purchasing_analysis_g_df["Total Purchase Value"] = purchasing_analysis_g_df["Total Purchase Value"].map('${:,.2f}'.format)
purchasing_analysis_g_df.set_index("Gender")

,Purchase Count,Avg Price Per Purchase,Total Purchase Value,Avg Purchase Total
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Non-Disclosed,15,$3.35,$50.19,$4.56

In [159]:
bins = [0,9,14,19,24,29,34,39,120]
group_names = ["Less than 10 Yrs", "10-14 Yrs", "15-19 yrs", "20-24 Yrs", "25-29 Yrs", "30-34 Yrs", "35-39 Yrs", "40 or More Yrs"]
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

In [160]:
purchase_count_by_age = purchase_data.groupby("Age Groups")["Purchase ID"].count()

In [161]:
purchase_count_by_age_array = [x for x in purchase_count_by_age]

In [162]:
average_purchase_price_by_age = purchase_data.groupby("Age Groups")["Price"].mean()

In [163]:
average_purchase_price_by_age_array = [x for x in average_purchase_price_by_age]

In [164]:
total_purchase_value_by_age = purchase_data.groupby("Age Groups").Price.sum()

In [165]:
total_purchase_value_by_age_array = [x for x in total_purchase_value_by_age]

In [166]:
count_of_person_by_age = purchase_data.groupby("Age Groups")["SN"].nunique()

In [167]:
count_of_person_by_age_array = [x for x in count_of_person_by_age]

In [168]:
average_total_purchase_value_per_person_array = [(total_purchase_value_by_age_array[x] / count_of_person_by_age_array[x]) for x in range(len(count_of_person_by_age_array))]

In [200]:
purchasing_analysis_age_dict = {"Age Group": group_names, "Purchase Count": purchase_count_by_age_array,
                                "Avg Price Per Purchase": average_purchase_price_by_age_array,
                                "Total Purchase Value": total_purchase_value_by_age_array,
                                "Avg Total Purchase Value Per Person": average_total_purchase_value_per_person_array}
purchasing_analysis_age_df = pd.DataFrame(purchasing_analysis_age_dict)
purchasing_analysis_age_df["Avg Price Per Purchase"] = purchasing_analysis_age_df["Avg Price Per Purchase"].map('${:,.2f}'.format)
purchasing_analysis_age_df["Total Purchase Value"] = purchasing_analysis_age_df["Total Purchase Value"].map('${:,.2f}'.format)
purchasing_analysis_age_df["Avg Total Purchase Value Per Person"] = purchasing_analysis_age_df["Avg Total Purchase Value Per Person"].map('${:,.2f}'.format)
purchasing_analysis_age_df.set_index("Age Group")

,Purchase Count,Avg Price Per Purchase,Total Purchase Value,Avg Total Purchase Value Per Person
Age Group,,,,
Less than 10 Yrs,23,$3.35,$77.13,$4.54
10-14 Yrs,28,$2.96,$82.78,$3.76
15-19 yrs,136,$3.04,$412.89,$3.86
20-24 Yrs,365,$3.05,"$1,114.06",$4.32
25-29 Yrs,101,$2.90,$293.00,$3.81
30-34 Yrs,73,$2.93,$214.00,$4.12
35-39 Yrs,41,$3.60,$147.67,$4.76
40 or More Yrs,13,$2.94,$38.24,$3.19

In [170]:
top_spenders_df = pd.DataFrame(purchase_data.groupby("SN", as_index=False)["Price"].sum())
top_spenders_sorted = top_spenders_df.sort_values("Price", ascending=False)

In [171]:
top_spender_names = []
for x in range(5):
    top_spender_names.append(top_spenders_sorted.iloc[x,0])

In [172]:
top_spender_total_purchase_values = []
for x in range(5):
    top_spender_total_purchase_values.append(top_spenders_sorted.iloc[x,1])

In [173]:
only_top_five_spenders_df = purchase_data.loc[(purchase_data.SN == top_spender_names[0]) | 
                                              (purchase_data.SN == top_spender_names[1]) | 
                                              (purchase_data.SN == top_spender_names[2]) | 
                                              (purchase_data.SN == top_spender_names[3]) | 
                                              (purchase_data.SN == top_spender_names[4])]

In [174]:
only_top_five_purchase_count_df = pd.DataFrame(only_top_five_spenders_df.groupby("SN", as_index=False)["Purchase ID"].count())

In [175]:
only_top_five_avg_purchase_df = pd.DataFrame(only_top_five_spenders_df.groupby("SN", as_index=False)["Price"].mean())
only_top_five_avg_purchase_df_renamed = only_top_five_avg_purchase_df.rename(columns={"Price": "Avg Price"})

In [176]:
only_top_five_total_purchase_df = pd.DataFrame(only_top_five_spenders_df.groupby("SN", as_index=False)["Price"].sum())
only_top_five_total_purchase_df_renamed = only_top_five_total_purchase_df.rename(columns={"Price": "Total Price"})

In [177]:
top_five_count_and_avg = pd.merge(only_top_five_purchase_count_df, only_top_five_avg_purchase_df_renamed, on="SN")

In [201]:
top_five_count_avg_total = pd.merge(top_five_count_and_avg, only_top_five_total_purchase_df_renamed, on="SN")
top_five_count_avg_total = top_five_count_avg_total.sort_values("Total Price", ascending=False)
top_five_count_avg_total_renamed = top_five_count_avg_total.rename(columns={"Purchase ID": "Purchase Count", "Avg Price": "Avg Purchase Total", "Total Price": "Total Value"})
top_five_count_avg_total_renamed["Avg Purchase Total"] = top_five_count_avg_total_renamed["Avg Purchase Total"].map('${:,.2f}'.format)
top_five_count_avg_total_renamed["Total Value"] = top_five_count_avg_total_renamed["Total Value"].map('${:,.2f}'.format)
top_five_count_avg_total_renamed.set_index("SN")

             Purchase Count Avg Purchase Total Total Value
SN
Lisosia93                 5              $3.79      $18.96
Idastidru52               4              $3.86      $15.45
Chamjask73                3              $4.61      $13.83
Iral74                    4              $3.40      $13.62
Iskadarya95               3              $4.37      $13.10

In [179]:
top_items_df = pd.DataFrame(purchase_data.groupby("Item ID", as_index=False)["Purchase ID"].count())
top_items_sorted = top_items_df.sort_values("Purchase ID", ascending=False)

In [180]:
top_item_IDs = []
for x in range(5):
    top_item_IDs.append(top_items_sorted.iloc[x,0])

In [181]:
only_top_five_items_df = purchase_data.loc[(purchase_data["Item ID"] == top_item_IDs[0]) | 
                                           (purchase_data["Item ID"] == top_item_IDs[1]) | 
                                           (purchase_data["Item ID"] == top_item_IDs[2]) | 
                                           (purchase_data["Item ID"] == top_item_IDs[3]) | 
                                           (purchase_data["Item ID"] == top_item_IDs[4])]

In [182]:
only_top_five_item_name_df = pd.DataFrame(only_top_five_items_df.groupby("Item Name", as_index=False)["Item ID"].mean())

In [183]:
only_top_five_item_price_df = pd.DataFrame(only_top_five_items_df.groupby("Item ID", as_index=False)["Price"].mean())

In [184]:
only_top_five_item_total_value_df = pd.DataFrame(only_top_five_items_df.groupby("Item ID", as_index=False)["Price"].sum())
only_top_five_item_total_value_df_renamed = only_top_five_item_total_value_df.rename(columns={"Price": "Total Value"})

In [185]:
top_five_items_count_and_price = pd.merge(top_items_sorted, only_top_five_item_price_df, on="Item ID")

In [186]:
top_five_items_count_price_total_value = pd.merge(top_five_items_count_and_price, only_top_five_item_total_value_df_renamed, on="Item ID")

In [202]:
total_top_five_items = pd.merge(top_five_items_count_price_total_value, only_top_five_item_name_df, on="Item ID")
total_top_five_items_renamed = total_top_five_items.rename(columns={"Purchase ID": "Purchase Count"})
total_top_popular_items_final = total_top_five_items_renamed[["Item ID", "Item Name", "Price", "Purchase Count", "Total Value"]]
total_top_popular_items_final["Price"] = total_top_popular_items_final["Price"].map('${:,.2f}'.format)
total_top_popular_items_final["Total Value"] = total_top_popular_items_final["Total Value"].map('${:,.2f}'.format)
total_top_popular_items_final.set_index("Item ID")

,Item Name,Price,Purchase Count,Total Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
145,Fiery Glass Crusader,$4.58,9,$41.22
108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
82,Nirvana,$4.90,9,$44.10
19,"Pursuit, Cudgel of Necromancy",$1.02,8,$8.16

In [188]:
profitable_items_df = pd.DataFrame(purchase_data.groupby("Item ID", as_index=False)["Price"].sum())
profitable_items_sorted = profitable_items_df.sort_values("Price", ascending=False)

In [189]:
profitable_item_IDs = []
for x in range(5):
    profitable_item_IDs.append(profitable_items_sorted.iloc[x,0])

In [190]:
only_profitable_items_df = purchase_data.loc[(purchase_data["Item ID"] == profitable_item_IDs[0]) | 
                                           (purchase_data["Item ID"] == profitable_item_IDs[1]) | 
                                           (purchase_data["Item ID"] == profitable_item_IDs[2]) | 
                                           (purchase_data["Item ID"] == profitable_item_IDs[3]) | 
                                           (purchase_data["Item ID"] == profitable_item_IDs[4])]

In [191]:
only_profitable_item_name_df = pd.DataFrame(only_profitable_items_df.groupby("Item Name", as_index=False)["Item ID"].mean())

In [192]:
only_profitable_item_price_df = pd.DataFrame(only_profitable_items_df.groupby("Item ID", as_index=False)["Price"].mean())

In [193]:
only_profitable_item_count_df = pd.DataFrame(only_profitable_items_df.groupby("Item ID", as_index=False)["Purchase ID"].count())

In [194]:
top_profitable_items_ID_and_name = pd.merge(only_profitable_item_name_df, profitable_items_sorted, on="Item ID")
top_profitable_items_ID_and_name_renamed = top_profitable_items_ID_and_name.rename(columns={"Price": "Total Value"})

In [195]:
top_profitable_items_ID_name_price = pd.merge(top_profitable_items_ID_and_name_renamed, only_profitable_item_price_df, on="Item ID")

In [204]:
total_profitbal_items = pd.merge(top_profitable_items_ID_name_price, only_profitable_item_count_df, on="Item ID")
total_profitbal_items_sorted = total_profitbal_items.sort_values("Total Value", ascending=False)
total_profitbal_items_columns_sorted = total_profitbal_items_sorted[["Item ID", "Item Name", "Price", "Purchase ID", "Total Value"]]
total_top_profitable_items_final = total_profitbal_items_columns_sorted.rename(columns={"Purchase ID": "Purchase Count"})
total_top_profitable_items_final["Price"] = total_top_profitable_items_final["Price"].map('${:,.2f}'.format)
total_top_profitable_items_final["Total Value"] = total_top_profitable_items_final["Total Value"].map('${:,.2f}'.format)
total_top_profitable_items_final.set_index("Item ID")

,Item Name,Price,Purchase Count,Total Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
82,Nirvana,$4.90,9,$44.10
145,Fiery Glass Crusader,$4.58,9,$41.22
92,Final Critic,$4.88,8,$39.04
103,Singed Scalpel,$4.35,8,$34.80